<a href="https://colab.research.google.com/github/jakobnickels/IST210-Testing/blob/master/Group_Project_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Virtual Concert Hall Database

Draw IO Entity Relationship Diagram 

![Draw IO Entity Relationship Diagram](https://raw.githubusercontent.com/jakobnickels/IST210-Testing/master/Images/ist210ProjectRevisedRevised.png)

**Diagram Revision Changes**

*   ConcertName in the Ticket table was changed to ConcertID to better fit the foreign key relation in the Concert table.
*   Name in the Concert table was changed to ConcertName to be more specific and differentiate from the Name attribute in the Orchestra table.
*   Name in the Orchestra table was changed to OrchestraName to fit the naming convention created by the ConcertName change.

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///ConcertHall.db

'Connected: @ConcertHall.db'

In [ ]:
%%sql 
create table Ticket(TicketID text primary key, Price real, TicketCode text, ConcertID text); 
create table TicketData(CustomerID text, TicketID text, primary key (CustomerID, TicketID));
create table Customer(CustomerID text primary key, FirstName text, LastName text, Email text);
create table Concert(ConcertID text primary key, ConcertName text, Time text, Date text, OrchestraID text);
create table Orchestra(OrchestraID text primary key, OrchestraName text, Population int);
create table PlayerData(PlayerID text, OrchestraID text, primary key (PlayerID, OrchestraID));
create table Player(PlayerID text primary key, FirstName text, LastName text, Seating text, Instrument text);

 * sqlite:///ConcertHall.db
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [ ]:
%%sql 
insert into Ticket values('21343', 6.50, '1234', 'Christmas Concert');
insert into Ticket values('65436', 3.50, '4321', 'Summer Concert');
insert into Ticket values('72466', 3.50, '1453', 'Summer Concert');
insert into Ticket values('94032', 3.50, '7654', 'Summer Concert');
insert into Ticket values('54002', 5.50, '3753', 'Thanksgiving Concert');

insert into TicketData values('0123', '21343');
insert into TicketData values('0124', '65436');
insert into TicketData values('0125', '72466');
insert into TicketData values('0126', '94032');
insert into TicketData values('0127', '54002');

insert into Customer values('0123', 'Albus', 'Dumbledore', 'adumbledore@hogwarts.com');
insert into Customer values('0124', 'Harry', 'Potter', 'hpotter@hogwarts.com');
insert into Customer values('0125', 'Ron', 'Weasley', 'rweasley@hogwarts.com');
insert into Customer values('0126', 'Hermione', 'Granger', 'hgranger@hogwarts.com');
insert into Customer values('0127', 'Draco', 'Malfoy', 'dmalfoy@hogwarts.com');

insert into Concert values('010', 'Christmas Concert', '18:00', '12-23-2010', 'H17');
insert into Concert values('011', 'Summer Concert', '12:00', '06-12-2012', 'H17');
insert into Concert values('012', 'Spring Concert', '13:00', '04-03-2012', 'D12');
insert into Concert values('013', 'Autumn Concert', '17:00', '09-13-2009', 'B03');
insert into Concert values('014', 'Thanksgiving Concert', '19:00', '11-18-2015', 'H17');

insert into Orchestra values('H17', 'Hogwarts Orchestra', 100);
insert into Orchestra values('B03', 'Beauxbatons Orchestra', 74);
insert into Orchestra values('D12', 'Durmstrang Orchestra', 92);
insert into Orchestra values('I02', 'Ilvermorny Orchestra', 56);
insert into Orchestra values('M01', 'Mahoutokoro Orchestra', 122);

insert into PlayerData values('001', 'H17');
insert into PlayerData values('432', 'B03');
insert into PlayerData values('002', 'H17');
insert into PlayerData values('752', 'D12');
insert into PlayerData values('003', 'H17');

insert into Player values('001', 'Luna', 'Lovegood', 'B02', 'Bass');
insert into Player values('432', 'Fleur', 'Delacour', 'C09', 'Cello');
insert into Player values('002', 'Fred', 'Weasley', 'N01', 'Violin');
insert into Player values('752', 'Viktor', 'Krum', 'B04', 'Bass');
insert into Player values('003', 'George', 'Weasley', 'A01', 'Viola');

 * sqlite:///ConcertHall.db
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

**Question 1:**
How many concerts did each orchestra perform? 
* This question is important because the amount of performaces an orchestra performs is often an important value to know. If someone was curious about the performance records of an orchestra, they could quickly utilize this line of code to figure that out. On top of that, this question allows us to combine many different SQL commands together, such as the join command and the group by command.

In [ ]:
%%sql
select o.OrchestraName, count(c.ConcertName) from Orchestra o, Concert c where o.OrchestraID = c.OrchestraID group by o.OrchestraName

 * sqlite:///ConcertHall.db
Done.

[('Beauxbatons Orchestra', 1),
 ('Durmstrang Orchestra', 1),
 ('Hogwarts Orchestra', 3)]

**Question 2:**
List the people in Hogwarts Orchestra whose last name starts with W. 
* This command is important for searching information pertaining to a specific subset of players, or when searching for an individual whose name is not fully remembered. For example, wanting to find a player whose last name you only know starts with W narrows down the list of people needed to search through by quite a bit.

In [ ]:
%%sql
select * from Player p LEFT JOIN PlayerData d ON p.PlayerID = d.PlayerID WHERE p.LastName LIKE "W%" AND d.OrchestraID = "H17"

 * sqlite:///ConcertHall.db
Done.

[('002', 'Fred', 'Weasley', 'N01', 'Violin', '002', 'H17'),
 ('003', 'George', 'Weasley', 'A01', 'Viola', '003', 'H17')]

**Question 3:**
* List all the performances by their date, with the earliest time at the top.

This is important because if someone wanted to know which concerts happened at the earliest times (to see correlations betweent start time and some other variable, for example), then they could use this command. Also, a list of the times with the latest time could be achieved by adding a DESC at the end of the 'order by' command.

In [ ]:
%%sql
select c.Time, c.Date, c.ConcertName, o.OrchestraName from Concert c, Orchestra o where c.OrchestraID = o.OrchestraID order by c.Time

 * sqlite:///ConcertHall.db
Done.

[('12:00', '06-12-2012', 'Summer Concert', 'Hogwarts Orchestra'),
 ('13:00', '04-03-2012', 'Spring Concert', 'Durmstrang Orchestra'),
 ('17:00', '09-13-2009', 'Autumn Concert', 'Beauxbatons Orchestra'),
 ('18:00', '12-23-2010', 'Christmas Concert', 'Hogwarts Orchestra'),
 ('19:00', '11-18-2015', 'Thanksgiving Concert', 'Hogwarts Orchestra')]